<div class="container">
  <h1 class="header center blue-grey-text text-darken-2">Bertoldi &amp Co.,</h1>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag ('mike1.png') %>
          <span class="card-title">Bertoldi</span>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="card" id="mike">
        <div class="card-content">
          <p>Michael Bertoldi graduated from the University of Regina in 1997 with a B.A. (Philosophy), and from UBC in 2001 with an LL.B.  After articling for a firm in downtown Vancouver, he founded Bertoldi and Company Legal services in 2002.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title center">Areas of Practice</span>
          <h5>Collections:</h5>
          <bl>
            <li>
              Acting for creditors to recover on secured or unsecured debts inside and outside of B.C.
            </li>
            <li>
              Acting for judgment creditors to execute on Judgments obtained in B.C.
            </li>
            <li>
              Acting for judgment creditors from foreign jurisdictions to domesticate and execute upon their judgments
            </li>
            <li>
              Acting for debtors to resist collection measures or to assist in structured payments or settlements.
            </li>
          </bl>
            <div class="divider"></div>
            <h5>Civil litigation:</h5>
            <bl>
              <li>
                Acting for plaintiffs or defendants in commercial or contractual disputes
              </li>
              <li>
                Acting for plaintiffs or defendants in real estate disputes
              </li>
              <li>
                Acting for strata corporations, management companies, owners, or tenants in condominium matters
              </li>
              <li>
                Acting for landlords or tenants in leasing disputes
              </li>
              <li>
                Acting for tradespeople or owners in builder’s liens disputes
              </li>
              <li>
                Acting for taxpayers in disputes regarding their taxes
              </li>
            </bl>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m3">
      <div class="card">
        <div class="card-content">
          <p>
            Michael Bertoldi’s main focus is delivering practical solutions to clients who need his assistance.  Michael believes that, in many situations, clients are better served by the certainty of settlement rather than the expense of litigation, which is a result of his focused and persistent attitude towards his clients and their files.  Michael provides each client with all of their legal options, and Michael then works with his clients to achieve the best result possible in the circumstances.
          </p><br>
          <div class="divider"></div>
          <p><br>
            Michael firmly believes that a small firm offers clients real advantages. First, a small firm is able to provide a personal level of service that many clients find pleasantly surprising.  Secondly, a small firm can provide competitive rates to its clients.  Thirdly, a small firm setting ensures continuity for each file, and allows the same lawyer to see a particular file through from beginning to end in most cases.  Michael Bertoldi believes that most clients find that they are better served in the smaller, more personal environment of a small firm.
          </p><br>
          <div class="divider"></div>
          <br>
          <p>
            If you have any litigation questions, please feel free to contact Michael at your convenience: mike@bert-law.com / FAX: 604.677.5640 / TEL: 604.628.9333
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="divider"></div>
  <br><br>
<!-- ALan's Bio -->
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag ('alan1.png') %>
          <span class="card-title">Baggish</span>
        </div>
      </div>
    </div>
    <div class="col s12 m8" id="alan">
      <div class="card">
        <div class="card-content">
          <p>Alan Baggish graduated from the University of North Carolina at Chapel Hill in 1999 with a B.A. (Philosophy), and from UBC in 2002 with an LL.B.  After articling for a full-service firm in Abbotsford, Alan returned to Vancouver to join Bertoldi and Company Legal services in 2003.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Areas of Practice</span>
          <bl>
            <li>
              Commercial and Residential Real Estate
            </li>
            <li>
              Business Law, Business Planning
            </li>
            <li>
              Wills and Estates
            </li>
          </bl>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m3">
      <div class="card">
        <div class="card-content">
          <p>
            Alan enjoys small firm practice as it allows him to provide maximum contact for his clients coupled with competitive rates for his services.  Alan finds that his practice also affords him the opportunity to offer flexible solutions for his clients.  For example, some of Alan’s corporate clients hire him on an hourly basis, while others engage his services for flat monthly fees.
          </p><br>
          <div class="divider"></div><br>
          <p>
            When Alan is not at work, he enjoys playing Ultimate Frisbee and perfecting his pizza-making techniques.
          </p><br>
          <div class="divider"></div><br>
          <p>
            If you have any questions relating to Alan’s areas of practice, please feel free to contact him at your convenience: alan@bert-law.com / FAX: 604.677.6253 / TEL: 604.628.9333
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
