<h1 class="center header blue-grey-text text-darken-2">Contact Us</h1>
<div class="divider"></div>
<br>
<br>
<br>

<div class="container">
  <form class="col s12 m8">
    <div class="row">
      <div class="input-field col s8">
        <input id="email" type="email" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m4">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6 m4">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m8">
        <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Message</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light disabled" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
  <br />
  <div class="divider"></div>
  <br />
  <div class="col s12 m8">
    <div id="map-canvas"></div>
  </div>

</div>
